body {
    background-image: linear-gradient(rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.5)), url(images/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;

}
body h1 {
    font-family: Code, sans-serif;
}

/* Estilos para la sección de inicio */
#home {
    color: white;
    padding: 100px 0;
    text-align: left;
}

/* Estilos para el título */
#home h1 {
    font-size: 2.5rem;
    /* Tamaño de fuente */
    margin-top: 180px;
    margin-left: 250px;
}

/* Estilos del contenedor de contenido */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/* Estilos del contenido interno */
.content {
    max-width: 100%;
    /* Ocupa todo el ancho disponible */
}

/* Estilos de la cabezera*/
.header {
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

/* Estilos del contenedor general*/
.contenedor {
    width: 476px;
    height: 583px;
    padding: 35px;
    border: 1px solid #c3ee01;
    background-color: #111116;
    position: absolute;
    top: 0;
    left: 60%;
    text-align: center;
    box-shadow: 0 0 10px rgba(195, 238, 1, 0.5);
}

#personal {
    width: 250px;
    padding: 35px;
    background-color: transparent;
    position: absolute;
    top: 16%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;

}

#esport {
    width: 250px;
    padding: 35px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.info-cont h1 {
    font-size: 20px;
    margin-left: 10px;
}

.info-cont p {
    font-size: 14px;
    margin-left: 7.5%;
    text-align: left;
}

.imagen-profile {
    width: 230px;
    top: 0%;
    left: 0%;
}

.imagen-profile img {
    max-width: 50%;
    height: auto;
    border-radius: 10%;
}

.g2-logo {
    width: 230px;
    margin-top: 30px;
    margin-left: 0px;
}

.g2-logo img {
    max-width: 50%;
    height: auto;
    border-radius: 10%;
}

/* Estilos del contenido de jugadores*/
.jugadores {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
}

.jugador {
    text-align: center;
}

.jugador img {
    max-width: 50%;
    height: auto;
    border-radius: 10%;
}

.jugador p {
    font-size: 14px;
    margin-top: 10px;
}

.jugadores h1 {
    font-size: 20px;
}